body{font:12px/1.511 Verdana, clean, sans-serif;background:#e2d2b9;}
input { width:25px; }
a {
    color:blue;
    text-decoration:underline;
    font-size:1.1em;
    cursor:pointer;
}
td, button {cursor:pointer;}
td+td {  /* all except the first one */
    font-family:monospace;
    text-align:center;
    padding-right:2px;
}
.highlight {background:white;}
#tools-bar span {
    margin-left:0.5em;
    color: navy; 
    font-size:0.9em;
}
td.gap-source, td.gap-dest {
    background: yellow;
}

td:first-child { background:#F4F6F6 }

