body{font:12px/1.511 Verdana, clean, sans-serif;}
input {
    width:25px;
}
a {
    color:blue;
    text-decoration:underline;
    font-size: 1.1em;
    cursor:pointer;
}
td+td {  /* all except the first one */
    font-family:monospace;
    text-align:center;
    padding-right:2px;
}

.highlight {background:white;}
.highl {background: LightBlue}

div.gap-source, td.gap-dest {background: yellow;}

div.aligncls {
    float: left;
    margin-left:2px; margin-right:2px;
    cursor:pointer;
}

th:first-child{cursor: pointer;}
